<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/string-strip-html/dist/string-strip-html.umd.js"></script>
    <script src='https://cdn.tiny.cloud/1/no-api-key/tinymce/4/tinymce.min.js'></script>
    <script>tinymce.init({selector: 'textarea'});</script>
    

    <title>New blog post</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">새로운 글</h1>

        <!-- 멀티파트 사용해서 첨부 이미지 업로드 가능하게 하는 부분 -->
        <form action="/blogs/new" method="POST" enctype="multipart/form-data">
            <div class="form-group">


                <label for="title">제목</label>
                <input type="text" class="form-control" placeholder="제목" name="title" required>
            </div>

            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" placeholder="작성자" name="author" required>
            </div>

            <div class="form-group">
                <label for="description">내용</label>
                <textarea name="description" placeholder="Description" class="form-control-file"></textarea>
            </div>
        
            <!-- 이미지 업로드 칸 -->
            <div class="form-group">
                <label for="image">Upload image</label>
                <input type="file" name="image" id="image" class="form-"
            </div>

            <div class="form-group">
                <a href="/" class="btn btn-warning">취소</a>
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
        </form>
    </div>
</body>
</html>